<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <!-- Navbar content --> <h1> My Artwork </h1> <p> -Dyani Daniels <p>
</nav>
<div class="row-5">
  <div class="col-6">
<div class="card" style="width: 18rem;">
  <img src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.0-9/80490669_2169940439981502_4764314978440183808_o.jpg?_nc_cat=111&ccb=2&_nc_sid=a26aad&_nc_ohc=mfwhWa63MFoAX94eeAk&_nc_ht=scontent-lga3-2.xx&oh=e2dfe84479a18114bd8ad7ec654ae146&oe=5FF83E1B" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Cartoon Character Present - Christmas Artwork</p> </div>
    <!-- First Card -->
    <div class="row-5">
        <div class="col-6">
<div class="card" style="width: 18rem;">
  <img src="https://i.imgur.com/oZZmOfM.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Autum Halloween Costume.</p>
    <!-- Second Card -->
  </div>
</div>
    </div>
    </div>
  </div>
</div>
  